<header class="header">
  <div class="container header-content">
    <a href="<%= root_path %>">
      <h1>Scope Change</h1>
    </a>

    <% if current_user %>
      <%= link_to "Sign Out", logout_path %>
    <% end %>
  </div>
</header>
